.light {
  --bg-color: #ffffff;
  --text-color: #171717;
  --sidebar-bg: #fafafa;
  --sidebar-border: #e5e5e5;
  --component-bg: #ffffff;
  --component-border: #e5e5e5;
  --component-hover: rgba(0, 112, 243, 0.1);
  --panel-bg: #ffffff;
  --panel-shadow: rgba(0, 0, 0, 0.05);
  --input-border: #e5e5e5;
  --accent-color: #0070f3;
  --accent-hover: #0051b3
}

.light body {
  background-color: var(--bg-color);
  color: var(--text-color);
}